$colorBG: #155263
$colorHover: #ff9a3c
$colorHoverClair: #ffc93c
$colorText: #ff6f3c
$colorRouge: #e63946
$ligneLeftContentRight: 7
$ligneRightContentRight: 12
$ligneTopContent: 1
$ligneBottomContent: 10
$police: 'Montserrat', sans-serif
$police2: sans-serif

body, html
  margin: 0
  padding: 0
  font-family: $police

.containerBase
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(10, 1fr)
  width: 100%
  min-height: 100vh

.colorBGtop
  grid-column: 7 / 9
  grid-row: 1 / 2
  background-color: $colorBG

.colorBGleft
  grid-row: 4 / 5
  background-color: $colorBG

.colorBGbottom
  grid-column: 3 / 5
  grid-row: 10 / 11
  background-color: $colorBG

.colorBGright
  grid-column: 10 / 11
  grid-row: 7 / 8
  background-color: $colorBG

.containerContent
  grid-column: 2 / 10
  grid-row: 2 / 10
  background-color: white
  box-shadow: 0px 0px 20px 0px rgba(99,99,99,1)
  display: grid
  grid-template-columns: repeat(11, 1fr)
  grid-template-rows: repeat(9, 1fr)

.contentLeft
  grid-column: #{$ligneTopContent} / #{$ligneLeftContentRight}
  grid-row: #{$ligneTopContent} / #{$ligneBottomContent}
  border-right: 2px solid black
  text-align: center
  & img
    width: 50%
    height: auto

.contentRight
  grid-column: #{$ligneLeftContentRight} / #{$ligneRightContentRight}
  grid-row: #{$ligneTopContent} / #{$ligneBottomContent}
  display: grid
  grid-template-columns: repeat(7, 1fr)
  grid-template-rows: repeat(8, 1fr)

.competence
  grid-column: 1 / 8
  grid-row: 1 / 3
  background-color: #f6f6f6
  border-right: 20px solid $colorHoverClair
  padding-left: 10%

.experience
  grid-column: 1 / 8
  grid-row: 3 / 5
  background-color: #efefef
  border-right: 20px solid $colorHover

.formation
  grid-column: 1 / 8
  grid-row: 5 / 7
  background-color: #f6f6f6
  border-right: 20px solid $colorHoverClair

.portfolio
  grid-column: 1 / 8
  grid-row: 7 / 9
  background-color: #efefef
  border-right: 20px solid $colorHover

.portfolio:before, .formation:before
  background-color: $colorHover

.experience:before, .competence:before
  background-color: $colorHoverClair

.box
  text-align: center
  position: relative
  transform: translateZ(0)
  transition: color 1000ms
  font-family: $police
  font-size: 200%
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    transform: scaleX(0)
    transform-origin: 100% 50%
    transition-property: transform
    transition: 300ms ease-out
  &:hover:before
    transform: scaleX(1)

.important
  color: $colorText
  font-weight: lighter

.close
  text-align: right
  padding-top: 1%
  padding-right: 1%
  & img
    width: 5%
    height: auto

.about
  & h2
    font-weight: lighter
  & p
    text-align: justify

.aboutAll
  padding: 8% 4% 4% 4%

.competenceAll, .formationAll, .experienceAll, .portfolioAll
  padding: 0% 4% 4% 4%

.competenceAll
  & p
    text-align: center
  & h1
    text-align: center
  & .iconeFleche
    color: red
    transition: 100ms ease-in all
  & .iconeFleche:hover
    transform: scale(1.2)

.containerBar
  & .left
    float: left
  & p
    margin-bottom: 0%
    padding-bottom: 0%
  & .date
    font-style: italic
  & .titreDivers
    color: #ff9a3c
    font-weight: bold
  & .end
    text-align: left

// EXPERIENCE
//Text Styles
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700")
$font-sans: 'Open Sans', sans-serif

//Colors
$black: #34435E
$white: #ffffff

main
  min-width: 300px
  max-width: 500px
  margin: auto

main p
  font-size: 1em
  line-height: 1.75em
  border-top: 3px solid
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%)
  border-image-slice: 1
  border-width: 3px
  margin: 0
  padding: 40px
  counter-increment: section
  position: relative
  color: $black

  //numbers
  &:before
    content: counter(section)
    position: absolute
    border-radius: 50%
    padding: 10px
    height: 1.25em
    width: 1.25em
    background-color: $black
    text-align: center
    line-height: 1.25em
    color: $white
    font-size: 1em
//odd number borders
main p:nth-child(odd)
  border-right: 3px solid
  padding-left: 0

  &:before
    left: 100%
    margin-left: -20px


//even number borders
main p:nth-child(even)
  border-left: 3px solid
  padding-right: 0

  &:before
    right: 100%
    margin-right: -20px


//handle first and last
main p:first-child
  border-top: 0
  border-top-right-radius: 0
  border-top-left-radius: 0

main p:last-child
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0

// FORMATION ALL

.formationAll
  // ----------------  THE BASICS

  @import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700')

  // ----------------  THE FONTS

  h1, h2, h3, h4, h5, h6
    font-family: 'Oswald', sans-serif


  h1
    font-size: 2rem
    margin-bottom: .5em


  p
    font-family: 'Roboto', sans-serif
    font-size: .8rem


  // ----------------  LAYOUT

  .container
    max-width: 1024px
    width: 90%
    margin: 0 auto


  // ----------------  THE FONTS

  $border-color: rgba(black, .3)

  .timelineBox
    padding: 3em 2em 2em
    position: relative
    color: rgba(black, .7)
    border-left: 2px solid $border-color
    text-align: left

    p
      font-size: 1rem


    &::before
      content: attr(date-is)
      position: absolute
      left: 2em
      font-weight: bold
      top: 1.3em
      display: block
      font-family: 'Roboto', sans-serif
      font-weight: bold
      font-size: .785rem
      color: $colorBG


    &::after
      width: 10px
      height: 10px
      display: block
      top: 1em
      position: absolute
      left: -7px
      border-radius: 10px
      content: ''
      border: 2px solid $colorBG
      background: white


    &:last-child
      border-image: linear-gradient(to bottom, $border-color 60%, rgba($border-color, 0)) 1 100%