body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.containerBase {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  min-height: 100vh;
}

.colorBGtop {
  grid-column: 7/9;
  grid-row: 1/2;
  background-color: #14263D;
}

.colorBGleft {
  grid-row: 4/5;
  background-color: #14263D;
}

.colorBGbottom {
  grid-column: 3/5;
  grid-row: 10/11;
  background-color: #14263D;
}

.colorBGright {
  grid-column: 10/11;
  grid-row: 7/8;
  background-color: #14263D;
}

.containerContent {
  grid-column: 2/10;
  grid-row: 2/10;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #636363;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.contentLeft {
  grid-column: 1/7;
  grid-row: 1/10;
  border-right: 2px solid black;
  text-align: center;
}
.contentLeft img {
  width: 50%;
  height: auto;
}

.contentRight {
  grid-column: 7/12;
  grid-row: 1/10;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.competence {
  grid-column: 1/8;
  grid-row: 1/3;
  background-color: #f6f6f6;
  border-right: 20px solid #DFC39F;
}

.experience {
  grid-column: 1/8;
  grid-row: 3/5;
  background-color: #efefef;
  border-right: 20px solid #CB9662;
}

.formation {
  grid-column: 1/8;
  grid-row: 5/7;
  background-color: #f6f6f6;
  border-right: 20px solid #DFC39F;
}

.portfolio {
  grid-column: 1/8;
  grid-row: 7/9;
  background-color: #efefef;
  border-right: 20px solid #CB9662;
}

.portfolio:before, .experience:before {
  background-color: #CB9662;
}

.competence:before, .formation:before {
  background-color: #DFC39F;
}

.contact {
  margin-top: 3%;
  font-size: 220%;
}
.contact a:not(:first-of-type) {
  margin-left: 5%;
}
.contact i:hover {
  color: #CB9662;
}
.contact a {
  text-decoration: none;
  color: black;
}

.box {
  text-align: center;
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
}
.box:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition: 300ms ease-out;
}
.box:hover:before {
  transform: scaleX(1);
}

.important {
  color: #CB9662;
  font-weight: 600;
}

.close {
  text-align: right;
  padding-top: 1%;
  padding-right: 1%;
}
.close img {
  width: 5%;
  height: auto;
  transition: 300ms ease-out;
}
.close img:hover {
  transform: scale(1.2);
}

.about {
  margin-bottom: 3%;
}
.about h2 {
  font-weight: lighter;
}
.about p {
  text-align: justify;
}

.aboutAll {
  padding: 8% 4% 4% 4%;
}
.aboutAll img {
  width: 40%;
  height: auto;
}

.competenceAll, .formationAll, .experienceAll, .portfolioAll {
  padding: 0% 4% 4% 4%;
}

.competenceAll p {
  text-align: center;
}
.competenceAll h1 {
  text-align: center;
  margin-bottom: 7%;
}
.competenceAll .iconeFleche {
  color: red;
  transition: 100ms ease-in all;
  font-size: 130%;
}
.competenceAll .iconeFleche:hover {
  transform: scale(1.2);
}
.competenceAll .titreCompetence {
  font-size: 120%;
}
.competenceAll .pTitreComp {
  margin-bottom: 5%;
}

.containerBar .left {
  float: left;
  margin-bottom: 1%;
}
.containerBar p {
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.containerBar .date {
  font-style: italic;
}
.containerBar .titreDivers {
  color: #CB9662;
  font-weight: bold;
}
.containerBar .end {
  text-align: left;
}
.containerBar .bar {
  margin-bottom: 3%;
}

.experienceAll {
  text-align: left;
}
.experienceAll h1 {
  text-align: center;
}
.experienceAll .experienceBox {
  padding: 1% 2% 2% 2%;
  background-color: #14263D;
  color: white;
  box-shadow: 7px 7px 16px 1px rgba(0, 0, 0, 0.75);
  transition: 300ms ease-in all;
  margin-bottom: 2%;
}
.experienceAll .experienceBox p {
  font-family: "Montserrat", sans-serif;
}
.experienceAll .experienceBox p:first-of-type {
  color: #CB9662;
  font-weight: 700;
}
.experienceAll .experienceBox h1 {
  margin-bottom: 2%;
  text-align: left;
}
.experienceAll .experienceBox .suspension {
  color: #DFC39F;
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.experienceAll .experienceBox:hover {
  transform: scale(1.02);
}

.formationAll h1, .experienceAll h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.formationAll p, .experienceAll p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
.formationAll .container, .experienceAll .container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
.formationAll .timelineBox, .experienceAll .timelineBox {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid grey;
  text-align: left;
}
.formationAll .timelineBox p, .experienceAll .timelineBox p {
  font-size: 1rem;
}
.formationAll .timelineBox::before, .experienceAll .timelineBox::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1.3em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.785rem;
  color: #14263D;
}
.formationAll .timelineBox::after, .experienceAll .timelineBox::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid #14263D;
  background: white;
}
.formationAll .timelineBox:last-child, .experienceAll .timelineBox:last-child {
  border-image: linear-gradient(to bottom, grey 60%, rgba(128, 128, 128, 0)) 1 100%;
}

.portfolioAll .titre {
  margin-bottom: 8%;
}
.portfolioAll .listeProjet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.portfolioAll .projet {
  background-color: white;
  color: black;
  flex-basis: auto;
  width: 40%;
  margin-bottom: 5%;
  box-shadow: 7px 7px 16px 1px rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-in;
}
.portfolioAll .projet img {
  width: 100%;
  height: 40%;
}
.portfolioAll .projet .projetContent {
  text-align: left;
  padding: 0% 5% 0% 5%;
}
.portfolioAll .projet .projetContent hr {
  color: white;
}
.portfolioAll .projet .projetContent h1 {
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-size: 120%;
}
.portfolioAll .projet .projetContent .techno {
  text-align: center;
  color: black;
  font-style: italic;
}
.portfolioAll .projet .projetContent p {
  font-size: 80%;
}
.portfolioAll .projet .projetContent .techList {
  text-align: center;
}
.portfolioAll .projet .projetContent .tech {
  display: inline-block;
  padding: 2%;
  background-color: #DFC39F;
  border-radius: 5px 10px 5px 10px;
  color: black;
  margin-bottom: 8%;
}
.portfolioAll .projet .projetContent .end {
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.portfolioAll .projet .projetContent a {
  font-style: normal;
  color: black;
}
.portfolioAll .projet .projetContent .icone {
  transition: all 300ms ease-in-out;
}
.portfolioAll .projet .projetContent .icone:hover {
  transform: rotate(180deg);
  color: #DFC39F;
}
.portfolioAll .projet:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
