$colorBG: #155263
$colorHover: #ff9a3c
$colorHoverClair: #ffc93c
$colorText: #ff6f3c
$colorRouge: #e63946
$ligneLeftContentRight: 7
$ligneRightContentRight: 12
$ligneTopContent: 1
$ligneBottomContent: 10
$police: 'Montserrat', sans-serif
$police2: sans-serif
$police3: 'Open Sans', sans-serif

body, html
  margin: 0
  padding: 0
  font-family: $police

.containerBase
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(10, 1fr)
  width: 100%
  min-height: 100vh

.colorBGtop
  grid-column: 7 / 9
  grid-row: 1 / 2
  background-color: $colorBG

.colorBGleft
  grid-row: 4 / 5
  background-color: $colorBG

.colorBGbottom
  grid-column: 3 / 5
  grid-row: 10 / 11
  background-color: $colorBG

.colorBGright
  grid-column: 10 / 11
  grid-row: 7 / 8
  background-color: $colorBG

.containerContent
  grid-column: 2 / 10
  grid-row: 2 / 10
  background-color: white
  box-shadow: 0px 0px 20px 0px rgba(99,99,99,1)
  display: grid
  grid-template-columns: repeat(11, 1fr)
  grid-template-rows: repeat(9, 1fr)

.contentLeft
  grid-column: #{$ligneTopContent} / #{$ligneLeftContentRight}
  grid-row: #{$ligneTopContent} / #{$ligneBottomContent}
  border-right: 2px solid black
  text-align: center
  & img
    width: 50%
    height: auto

.contentRight
  grid-column: #{$ligneLeftContentRight} / #{$ligneRightContentRight}
  grid-row: #{$ligneTopContent} / #{$ligneBottomContent}
  display: grid
  grid-template-columns: repeat(7, 1fr)
  grid-template-rows: repeat(8, 1fr)

.competence
  grid-column: 1 / 8
  grid-row: 1 / 3
  background-color: #f6f6f6
  border-right: 20px solid $colorHoverClair

.experience
  grid-column: 1 / 8
  grid-row: 3 / 5
  background-color: #efefef
  border-right: 20px solid $colorHover

.formation
  grid-column: 1 / 8
  grid-row: 5 / 7
  background-color: #f6f6f6
  border-right: 20px solid $colorHoverClair

.portfolio
  grid-column: 1 / 8
  grid-row: 7 / 9
  background-color: #efefef
  border-right: 20px solid $colorHover

.portfolio:before, .experience:before
  background-color: $colorHover

.competence:before, .formation:before
  background-color: $colorHoverClair

.box
  text-align: center
  position: relative
  transform: translateZ(0)
  transition: color 1000ms
  font-family: $police
  font-size: 200%
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    transform: scaleX(0)
    transform-origin: 100% 50%
    transition-property: transform
    transition: 300ms ease-out
  &:hover:before
    transform: scaleX(1)

.important
  color: $colorText
  font-weight: lighter

.close
  text-align: right
  padding-top: 1%
  padding-right: 1%
  & img
    width: 5%
    height: auto

.about
  & h2
    font-weight: lighter
  & p
    text-align: justify

.aboutAll
  padding: 8% 4% 4% 4%

.competenceAll, .formationAll, .experienceAll, .portfolioAll
  padding: 0% 4% 4% 4%

.competenceAll
  & p
    text-align: center
  & h1
    text-align: center
  & .iconeFleche
    color: red
    transition: 100ms ease-in all
  & .iconeFleche:hover
    transform: scale(1.2)

.containerBar
  & .left
    float: left
  & p
    margin-bottom: 0%
    padding-bottom: 0%
  & .date
    font-style: italic
  & .titreDivers
    color: #ff9a3c
    font-weight: bold
  & .end
    text-align: left

// EXPERIENCE

.experienceAll
  text-align: left
  & h1
    text-align: center
  & .experienceBox
    padding: 1% 2% 2% 2%
    background-color: $colorBG
    color: white
    box-shadow: 7px 7px 16px 1px rgba(0,0,0,0.75)
    transition: 300ms ease-in all
    margin-bottom: 2%
    & p
      font-family: $police
    & p:first-of-type
      color: $colorHover
      font-weight: 700
    & h1
      margin-bottom: 2%
      text-align: left
    & .suspension
      color: $colorHoverClair
      text-align: center
      margin-bottom: 0%
      padding-bottom: 0%
  & .experienceBox:hover
    transform: scale(1.02)



// FORMATION ALL

.formationAll, .experienceAll
  & h1
    font-size: 2rem
    margin-bottom: .5em
  & p
    font-family: 'Roboto', sans-serif
    font-size: .8rem
  // ----------------  LAYOUT
  & .container
    max-width: 1024px
    width: 90%
    margin: 0 auto

  // ----------------  THE FONTS
  & .timelineBox
    padding: 3em 2em 2em
    position: relative
    color: rgba(black, .7)
    border-left: 2px solid grey
    text-align: left
    & p
      font-size: 1rem
    &::before
      content: attr(date-is)
      position: absolute
      left: 2em
      font-weight: bold
      top: 1.3em
      display: block
      font-family: 'Roboto', sans-serif
      font-weight: bold
      font-size: .785rem
      color: $colorBG
    &::after
      width: 10px
      height: 10px
      display: block
      top: 1em
      position: absolute
      left: -7px
      border-radius: 10px
      content: ''
      border: 2px solid $colorBG
      background: white
    &:last-child
      border-image: linear-gradient(to bottom, grey 60%, rgba(grey, 0)) 1 100%

// PORTFOLIO ALL
.portfolioAll
  & .listeProjet
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-content: space-around
  & .projet
    background-color: white
    color: black
    flex-basis: auto
    width: 40%
    margin-bottom: 5%
    box-shadow: 7px 7px 16px 1px rgba(0,0,0,0.75)
    transition: 300ms ease-in all
    & img
      width: 100%
      height: 40%
    & .projetContent
      text-align: left
      padding: 0% 5% 0% 5%
      & hr
        color: white
      & h1
        margin: 0%
        padding: 0%
        text-align: center
        font-size: 120%
      & .techno
        text-align: center
        color: black
        font-style: italic
      & p
        font-size: 80%
      & .techList
        text-align: center
      & .tech
        display: inline-block
        padding: 2%
        background-color: $colorHoverClair
        border-radius: 5px 10px 5px 10px
        color: black
  & .projet:hover
    transform: scale(1.1)
